<ul>
	<li><a href="/weather?name=Omaha&location=41.2524,-95.9980">Omaha</a></li>
	<li><a href="/weather?name=San Francisco&location=37.7749,-122.4194">San Francisco</a></li>
	<li><a href="/weather?name=Mumbai&location=19.0760,72.8777">Mumbai</a></li>
</ul>

